Source: naviserver
Section: web
Priority: optional
Maintainer: Qcode Software Ltd <hackers@qcode.co.uk> 
Build-Depends: debhelper (>= 12),
               autotools-dev,
               tcl-dev,
               zlib1g-dev,
               mawk,
               mime-support,
               autoconf,
               tcllib
Standards-Version: 3.9.8
Homepage: http://wiki.tcl.tk/2090

Package: naviserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 1.5.71), ucf (>= 3), logrotate (>= 3.14), tcl8.6 (>= 8.6.9), naviserver-core (= ${binary:Version}), adduser
Conflicts: naviserver-nsssl
Replaces: naviserver-nsssl
Description: Programmable web server written in C & Tcl
 It offers many features for building custom web sites. The 
 implementation is high performance, but the interface is easy 
 to use, at both the C and Tcl level.
 This package provides the server itself.

Package: naviserver-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: naviserver
Description: Naviserver - core libraries
 This package provides the basic shared libraries which are needed by
 the daemon. It does not contain the naviserver daemon, which is in 
 naviserver.

Package: naviserver-dev
Architecture: any
Depends: tcl-dev, zlib1g-dev | libz-dev, ${misc:Depends}, naviserver-core (= ${binary:Version})
Description: Naviserver - development files
 It offers many features for building custom web sites. The 
 implementation is high performance, but the interface is easy 
 to use, at both the C and Tcl level.
 This package contains header files and libraries needed to develop
 applications based on Naviserver.

#Package: naviserver-dbg
#Section: debug
#Priority: extra
#Architecture: any
#Depends: ${misc:Depends}, naviserver (= ${binary:Version})
#Description: Naviserver debugging symbols
# This package includes the debugging symbols for Naviserver.
