[Unit]
Description=Naviserver webserver instance %I
After=network.target

[Service]
Type=simple
PIDFile=/var/run/naviserver/%i.pid
# Default environment vars for all naviserver instances
EnvironmentFile=/etc/default/naviserver
# Environment variables for this %i instance of naviserver
EnvironmentFile=-/etc/naviserver/%i.env
ExecStart=/usr/lib/naviserver/bin/nsd -u $USER -g $GROUP $OPTS -i -t /etc/naviserver/%i.tcl
Restart=always
RestartSec=7

[Install]
WantedBy=multi-user.target
