#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PREFIX=/usr/lib/naviserver
PACKAGE=naviserver
COREPACKAGE=naviserver-core
TARGETDIR=$(CURDIR)/debian/tmp

override_dh_auto_configure:
	./autogen.sh --with-tcl=/usr/lib/tcl8.5 --prefix=$(PREFIX) --enable-rpath --enable-symbols --enable-threads --mandir=/usr/share/man

override_dh_auto_build:
	$(MAKE)
	$(MAKE) DTPLITE=dtplite build-doc

override_dh_auto_install:
	( cd $(CURDIR) ; $(MAKE) NAVISERVER=$(TARGETDIR) install )
	mv $(TARGETDIR)/bin/nsd $(TARGETDIR)/bin/$(PACKAGE)-nsd
	mv $(TARGETDIR)/bin/nsproxy $(TARGETDIR)/bin/$(PACKAGE)-nsproxy
	dh_install --sourcedir $(TARGETDIR) --list-missing
	install -m 755 debian/naviserver.env $(TARGETDIR)/etc/naviserver
	install -m 755 debian/default.env $(TARGETDIR)/etc/naviserver
	install -m 755 debian/default.tcl $(TARGETDIR)/etc/naviserver

override_dh_shlibdeps:
	dh_shlibdeps -a -l$(CURDIR)/debian/$(COREPACKAGE)$(PREFIX)/lib

override_dh_strip:
	dh_strip --dbg-package=naviserver-dbg

override_dh_auto_clean:
	rm -f $(CURDIR)/tests/testserver/*.log
	rm -f $(CURDIR)/tests/testserver/*.pid
	 ./autogen.sh --with-tcl=/usr/lib/tcl8.5 --prefix=$(PREFIX) --enable-rpath --enable-symbols --enable-threads --mandir=/usr/share/man
	dh_auto_clean

override_dh_installinit:
	dh_systemd_enable -pnaviserver --name=naviserver@ naviserver@.service
	dh_installinit -pnaviserver --no-start --noscripts
	dh_systemd_start -pnaviserver --no-restart-on-upgrade

override_dh_systemd_start:
	echo "Not running dh_systemd_start"

%:
	dh $@ --with systemd
