#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PREFIX=/usr/lib/naviserver
PACKAGE=naviserver
COREPACKAGE=naviserver-core
TARGETDIR=$(CURDIR)/debian/tmp
HELP2MAN=/usr/bin/help2man

override_dh_auto_configure:
	./autogen.sh --with-tcl=/usr/lib/tcl8.5
	dh_auto_configure -- --prefix=$(PREFIX) --enable-threads --with-tcl=/usr/lib/tcl8.5 --mandir=/usr/share/man

override_dh_auto_build:
	$(MAKE)
	$(MAKE) build-doc
	mkdir $(CURDIR)/debian/man1
	cp $(CURDIR)/nsd/nsd $(CURDIR)/debian/man1/$(PACKAGE)-nsd
	$(HELP2MAN) --help-option=-help --version-option=-V --no-discard-stderr --no-info $(CURDIR)/debian/man1/$(PACKAGE)-nsd > $(CURDIR)/debian/man1/$(PACKAGE)-nsd.1

override_dh_auto_install:
	( cd $(CURDIR) ; $(MAKE) NAVISERVER=$(TARGETDIR) install )
	mv $(TARGETDIR)/bin/nsd $(TARGETDIR)/bin/$(PACKAGE)-nsd
	mv $(TARGETDIR)/bin/nsproxy $(TARGETDIR)/bin/$(PACKAGE)-nsproxy
	dh_install

override_dh_shlibdeps:
	dh_shlibdeps -a -l$(CURDIR)/debian/$(COREPACKAGE)$(PREFIX)/lib

override_dh_auto_test:

override_dh_auto_clean:
	rm -f $(CURDIR)/tests/testserver/*.log
	rm -f $(CURDIR)/tests/testserver/*.pid
	rm -f $(CURDIR)/debian/man1
	dh_quilt_unpatch
	dh_auto_clean

%:
	dh $@ 
